<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<header th:insert="blocks/header :: header"></header>
    <main>
        <table>
            <thead>
                <tr>
                    <th>Табельный номер</th>
                    <th>Наименование</th>
                    <th>Единица измерения</th>
                    <th>Цена деления</th>
                    <th>Чувствительность</th>
                    <th>Максимальное значение</th>
                    <th>Номер ящика</th>
                </tr>
            </thead>
            <tbody>
            <tr th:each="instrument: ${instruments}">
                <td th:text="${instrument.id}"></td>
                <td th:text="${instrument.title}"></td>
                <td th:text="${instrument.unit_of_measurement}"></td>
                <td th:text="${instrument.division_price}"></td>
                <td th:text="${instrument.sensitivity}"></td>
                <td th:text="${instrument.maximum_value}"></td>
                <td th:text="${instrument.number_of_box}"></td>
                <td>
                    <form th:action="@{/home/delete/{id}(id=${instrument.id})}" method="post">
                        <button type ="submit">Удалить</button>
                    </form>
                </td>
                <td>
                    <form th:action="@{'/instrument/'+${instrument.id}}">
                        <button type ="submit">Изменить</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </main>
</body>
</html>
